* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url("./images/todo-bg.jpg"); */
}

.container {
    /* margin: 20px auto; */
     /* border-radius: 50px; */
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    box-shadow: 5px 10px 18px #888888;
    height: auto;
    min-height: 90vh;
   
}

.todo-header img {
    width: 100%;
    height: 200px;
    /* border-radius: 50px 50px 0 0; */
}

form input {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #888888;
    background-color: transparent;
    outline: none;
}

form input[type=submit], form input[type=button] {
    background-color: #8C3D39;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    font-size: 15px;
    width: 100%;
    margin: inherit auto;
    cursor: pointer;
    border-radius: 30px;
}

input[type=submit]:hover, input[type=button]:hover{
    background-color: #fff;
    color: #8C3D39;
    outline: 1px solid #8C3D39;
    transition: 1s;
}

form label {
    display: inline-block;
    font-size: 18px;
   color: black;
    min-width: fit-content;
    
}

form label small{
   color: #8C3D39;
}

.todo-body {
    padding: 20px;
}


.title {
    text-align: center;
    color: #2C1F0E;
}

.todo-output {
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 5px;
    border: 1px solid #888888;

}

.todo-output-title {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    margin: auto 10px auto 0;
}